In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

Loading kaggle dataset on Africa Economic, Banking and Systemic Crisis

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/Dee-M123/Cryptocurrency-Prices-by-Market-Cap/refs/heads/main/Data/Raw/african_crises.csv")

df.head(7)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
5,1,DZA,Algeria,1875,0,0.051546,0,0,0.0,-20.924178,0,0,0,no_crisis
6,1,DZA,Algeria,1876,0,0.051867,0,0,0.0,-1.769547,0,0,0,no_crisis

Checking the number of rows and columns

In [9]:
df.shape

(1059, 14)

An overview of the dataset

In [13]:
print( df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   case                             1059 non-null   int64
 1   cc3                              1059 non-null   object
 2   country                          1059 non-null   object
 3   year                             1059 non-null   int64
 4   systemic_crisis                  1059 non-null   int64
 5   exch_usd                         1059 non-null   float64
 6   domestic_debt_in_default         1059 non-null   int64
 7   sovereign_external_debt_default  1059 non-null   int64
 8   gdp_weighted_default             1059 non-null   float64
 9   inflation_annual_cpi             1059 non-null   float64
 10  independence                     1059 non-null   int64
 11  currency_crises                  1059 non-null   int64
 12  inflation_crises                 1059 non-null   int64
 13  banking_crisis                   1059 non-null   object
dtypes: float64(3), int64(8), object(3)
memory usage: 116.0+ KB
None

Statistical summary

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
case,1059.0,35.613787,23.692402,1.000000,15.000000,38.00000,56.000000,7.000000e+01
year,1059.0,1967.767705,33.530632,1860.000000,1951.000000,1973.00000,1994.000000,2.014000e+03
systemic_crisis,1059.0,0.077432,0.267401,0.000000,0.000000,0.00000,0.000000,1.000000e+00
exch_usd,1059.0,43.140831,111.475380,0.000000,0.195350,0.86840,8.462750,7.443061e+02
domestic_debt_in_default,1059.0,0.039660,0.195251,0.000000,0.000000,0.00000,0.000000,1.000000e+00
sovereign_external_debt_default,1059.0,0.152975,0.360133,0.000000,0.000000,0.00000,0.000000,1.000000e+00
gdp_weighted_default,1059.0,0.006402,0.043572,0.000000,0.000000,0.00000,0.000000,4.000000e-01
inflation_annual_cpi,1059.0,20848.892444,675727.429176,-28.502137,2.086162,5.76233,11.644048,2.198970e+07
independence,1059.0,0.776204,0.416984,0.000000,1.000000,1.00000,1.000000,1.000000e+00
currency_crises,1059.0,0.132200,0.349847,0.000000,0.000000,0.00000,0.000000,2.000000e+00
inflation_crises,1059.0,0.129367,0.335765,0.000000,0.000000,0.00000,0.000000,1.000000e+00

Checking column naming to see if normalised/uniform

In [17]:
df.columns

Index(['case', 'cc3', 'country', 'year', 'systemic_crisis', 'exch_usd',
       'domestic_debt_in_default', 'sovereign_external_debt_default',
       'gdp_weighted_default', 'inflation_annual_cpi', 'independence',
       'currency_crises', 'inflation_crises', 'banking_crisis'],
      dtype='object')

Seeing the number of countries represented and year range in reporting

In [24]:
print("Countries:", df['country'].unique())
print("Year range:", df['year'].min(), "-", df['year'].max())

Countries: ['Algeria' 'Angola' 'Central African Republic' 'Ivory Coast' 'Egypt'
 'Kenya' 'Mauritius' 'Morocco' 'Nigeria' 'South Africa' 'Tunisia' 'Zambia'
 'Zimbabwe']
Year range: 1860 - 2014

Check for any missing values

In [19]:
df.isnull().mean() * 100

case                               0.0
cc3                                0.0
country                            0.0
year                               0.0
systemic_crisis                    0.0
exch_usd                           0.0
domestic_debt_in_default           0.0
sovereign_external_debt_default    0.0
gdp_weighted_default               0.0
inflation_annual_cpi               0.0
independence                       0.0
currency_crises                    0.0
inflation_crises                   0.0
banking_crisis                     0.0
dtype: float64

In [25]:
df.isna().mean() * 100

case                               0.0
cc3                                0.0
country                            0.0
year                               0.0
systemic_crisis                    0.0
exch_usd                           0.0
domestic_debt_in_default           0.0
sovereign_external_debt_default    0.0
gdp_weighted_default               0.0
inflation_annual_cpi               0.0
independence                       0.0
currency_crises                    0.0
inflation_crises                   0.0
banking_crisis                     0.0
dtype: float64

Checking if entries and datatypes in the crisis indicator columns are uniform

In [20]:
#crisis indicators

for col in ['systemic_crisis','domestic_debt_in_default','sovereign_external_debt_default','currency_crises','inflation_crises','banking_crisis']:
  print(col, df[col].unique())


# have to figure out what this mean - currency_crises [0 1 2]

systemic_crisis [1 0]
domestic_debt_in_default [0 1]
sovereign_external_debt_default [0 1]
currency_crises [0 1 2]
inflation_crises [0 1]
banking_crisis ['crisis' 'no_crisis']

In [21]:
df['independence'].unique()

array([0, 1])